<module>
	<rawname>blocklist</rawname>
	<repo>standard</repo>
	<name>Blocklist</name>
	<version>14.0.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>This module is used to manage a system wide list of blocked callers</description>
	<menuitems>
		<blocklist needsenginedb="yes">Blocklist</blocklist>
	</menuitems>
	<changelog>
		*14.0.1* forked from blocklist 14.0.3 
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Blocklist">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Blocklist">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Blocklist">bulkhandlerImport</method>
			<method callingMethod="export" class="Blocklist">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<depends>
		<module>core ge 14.0.18.9</module>
	</depends>
	<supported>
		<version>14.0</version>
	</supported>
</module>